module "cluster" {
  source             = "../modules/multi_instance"
  private_count      = 3
  public_flavor      = "CPUv1.medium"
  public_image_name  = "Rocky-9"
  cluster_name       = "ResearchProject"
  private_image_name = "Ubuntu-20.04"
  private_flavor     = "CPUv1.tiny"
}
output "cluster" {
  value = module.cluster.Connections
}