module "Prometheus" {
  source        = "../modules/single_instance"
  vm_name       = "MyVM"
  image_name    = "Rocky-8"
  flavor_name   = "CPUv1.medium"
  custom_secgroup_rules = { 
    prometheus = {
      port = 9090
      protocol = "tcp"
      remote_ip_prefix = "0.0.0.0/0"
    }
  }
  is_windows=false
}