module "MyVM" {
  source        = "../modules/single_instance"
  vm_name       = "MyVM"
  image_name    = "Rocky-9"
  flavor_name   = "CPUv1.medium"
  nginx_enabled = false #Installs nginx and exposes ports 80 and 443
  nfs_network   = false #Only set true if you requested access
  vsc_enabled   = false #Only set true if you requested access
  is_windows = false
  volumes = {
    vol1 = {
        size = 10
    }
    vol2 = {
        size = 10
    }
  }
}
output "MyVM" {
  value = module.MyVM.Connections
}
